@import "@fontsource/fira-mono";
@import "tailwindcss";
@plugin "daisyui";

:root {
  background-color: #121212;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans_24pt-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "DM Sans", sans-serif;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  animation: appear 1s ease-in-out;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;       /* prevents scrolling */
  touch-action: manipulation; /* improves tap performance */
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
